<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" href="https://icons.getbootstrap.com/assets/icons/robot.svg">

    <title>Names Classifier App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  </head>

  <body>

    <div class="grid position-relative">

            <div class="d-grid gap-1 col-6 mb-4 mx-auto">

                <div class="m-3 p-2">
                    <h1 class="text-center mb-2 ">Define gender <small class="text-muted">by name</small></h1>
                    <p class="text-center text-primary mb-2 p-3 fs-5">Machine learning-based application defining gender by a given name</p>
                </div>

                <div class="shadow-sm m-3 p-2 bg-body rounded">
                    <form name="form" class="form-floating mb-3" method="POST">
                        {{form.csrf_token}}
                        <p class="text-center text-secondary fs-6">Enter a name in latin letters with any special latin characters</p>

                        <div class="d-grid gap-2 col-8 mx-auto">

                            {{form.input_name(class="form-control", placeholder="name")}}
                        </div>
                        <div class="d-grid m-3 gap-2 col-5 mx-auto">
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="shadow-sm m-3 p-3 bg-body rounded">
                    {% if name %}
                        <p class="text-primary fs-6">name: <strong>{{name}}</strong></p>
                    {% endif %}
                    {% if outcome[0] == 'female' %}
                         <p class="text-primary fs-6">gender: <i class="bi bi-gender-female text-primary fs-5"></i></p>
                    {% elif outcome[0] == 'male' %}
                        <p class="text-primary fs-6">gender: <i class="bi bi-gender-male text-primary fs-5"></i></p>
                    {% else %}
                    {% endif %}
                    {% if outcome[1] %}
                    <p class = "text-primary fs-6">likelihood: <strong>{{outcome[1]}}</strong></p>
                    {% endif %}
                    <p class = "text-secondary fs-6">{{outcome[2]}}</p>

                </div>
            </div>

            <div class="d-grid gap-1 col-5 bg-body mt-5 mx-auto">
                <footer class="page-footer text-muted fs-12">

                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                      <p class="fs-12">©2022 Peter Savvateev</p>
                      <ul class="list-unstyled d-flex">
                        <li class="ms-3">
                            <a class="link-dark" href="https://github.com/PSavvateev">
                               <i class="bi bi-github"></i>
                            </a>
                        </li>
                        <li class="ms-3">
                          <a class="link-dark" href="https://www.linkedin.com/in/peter-savvateev-97081147">
                              <i class="bi bi-linkedin"></i>

                          </a>
                        </li>
                       </ul>
                    </div>
                </footer>
            </div>


    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>